* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair", serif;

}
root{
    --gold:#e8a020;
    --gold-light:#f2b93b;
    --dark:#1a1a1a;
    --text:#333;
    --muted:#666;
}
html,
body{
    height:100%;
}
